echo android/app/src/main/bank-security-final-firebase-adminsdk-fbsvc-d03e680945.json >> .gitignore
echo firebase-service-account.json >> .gitignore
build/
.dart_tool/
.gradle/
node_modules/
firebase-service-account.json
*.jks
*.keystore
key.properties
local.properties
.env
android/app/src/main/bank-security-final-firebase-adminsdk-fbsvc-d03e680945.json
firebase-service-account.json
